{% extends 'blog/base.html' %}

{% block content %}
{% if error_list %}

{% for error in error_list %}
<header><h2>{{ error }}</h2></header>
{% endfor %}

{% elif user.is_authenticated %}
<header><h2>Edit post</h2></header>
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save-button">Save</button>
</form>
<button type="button" class="new-button">
    <a href="{% url 'category_new' %}">
        <p class="white-text">New Category</p>
    </a>
</button>
<button type="button" class="new-button">
    <a href="{% url 'tag_new' %}">
        <p class="white-text">New Tag</p>
    </a>
</button>
{% endif %}
{% endblock %}