{% extends 'blog/base.html' %}

{% block content %}
    <head>
        <title>detail of post</title>
    </head>
    <article class="post">
        <header>
            <h1>Category: {{ post.category }}</h1>
        </header>
        <h2>Title: {{ post.title }}</h2>
        <article>Text: {{ post.text|linebreaksbr }}</article>
        {% if user.is_authenticated %}
        <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="comment-button">Add comment</button>
        </form>
        {% endif %}
        <aside>
            {% if user.is_authenticated %}
            <a class="edit-button" href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
            {% endif %}
        </aside>
        {% for c in post.comment.all %}
        <div class="comment">
            <aside><h4>{{ c.author }}</h4></aside>
            <aside><h5>{{ c.comment_text }}</h5></aside>
            <footer>{{ c.published_date }}</footer>
        </div>
        {% endfor %}
        </article>
{% endblock %}