{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">

        <h1>Category: {{ post.category }}</h1>
        <h2>Title: {{ post.title }}</h2>
        <p>Text: {{ post.text|linebreaksbr }}</p>
        {% for c in post.comment.all %}
        <h5>{{ c.comment_text }}</h5>
        {% endfor %}
        <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add comment</button>
        </form>
        <aside class="actions">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
        </aside>
    </article>
{% endblock %}