{% extends 'blog/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<form method="POST" id="test-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="comment-button">Save data</button>
</form>
<p>data output</p>
<div id="all_data">
    {% for data in all_data %}
    <p>{{ data.data_title }}</p>
    {% endfor %}
</div>
<script type="text/javascript">
/*    $("#test-form").submit(function (e) {
            e.preventDefault();
            const serializedData = $(this).serialize();
            });
            $.ajax({
                type: 'GET',
                async: true,
                url: 'post_detail',
                data: serializedData,
                success: function(response) {
                    $("#test-form").trigger('reset');
                    console.log("111111")
                    var instance = JSON.parse(response["instance"]);
                    var fields = instance[0]["fields"]
                    $("#all_data div").prepend(
                    '<p>${fields["data_title"]||""}</p>'
                    )
                },
                dataType: 'json',

        });
        */

    $("#test-form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'test' %}",
            data: serializedData,
            success: function (response) {
                $("#test-form").trigger('reset');

                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                $("#all_data").prepend(
                    `
                    <p>${fields["data_title"]||""}</p>
                    `
                )
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
</body>
</html>
{% endblock %}