.filter {
    float: right;
}

.new-c,
.new-t{
    font-size: 24pt;
    margin-bottom: 100pt;
}

a {
    color: #00008B;
}

h2 a{
    color: #000000;
    font-family: 'Lobster';
}

.top-menu{
    float: right;
    margin-top: -40pt
}

.post{
    margin-top: 40px;
}

.category{
    color: #7FFFD4;
}

ul{
    list-style-type: none;
}

.btn-default,
.btn-default:visited{
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.base-header{
    font-size: 40pt;
}

.save{
    float: right;
}

.comment{
    margin-top: 40px;
}

}

.edit-button,
.comment-save-button{
    color: #C25100;
    background: none;
    border-color: #C25100;
    float: right;
    margin-top: -40px;
}