.filter {
    float: right;
}

.new-c{
    font-size: 24pt;
    margin-bottom: 100pt;
}

.top-menu{
    float: right;
    margin-top: -40pt
}

.post{
    margin-top: 40px;
    color: #FFFFFF;
}

.category-tag{
    color: #05386B;
}

ul{
    list-style-type: none;
}

.btn-default,
.btn-default:visited{
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.base-header{
    font-size: 40pt;
    color: #05386B;
}

.save-button{
    float: right;
    background-color: #EDF5E1;
    border: none;
    color: black;
    padding: 4px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.comment{
    margin-top: 45px;
}

.comment-button{
    float: right;
    background-color: #EDF5E1;
    border: none;
    color: black;
    padding: 4px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -44px;

}

.author-name{
    color: #05386B;
    font-family: 'Lobster';
    margin-bottom: 20px;
}

.edit-button{
    float: right;
    margin-top: -450pt;
}

.comment-form{
    margin-top: 300pt;
}

body{
    background-color: #5CDB95;
}

.page-header{
    font-size: 40pt;
}

.post-title{
    color:#FFFFFF;
    font-size: 20pt;
}

.new-button {
  background-color: #05386B;
  border: none;
  color: white;
  padding: 4px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.new-button a:active{
    color: red;
}

.new-button:hover {
  text-decoration: none;
  text-justify: none;
  color: white;
}

.white-text{
    color: #FFFFFF;
}

.tag-button{
  background-color: #EDF5E1;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 30px;
}

.blue-text{
    color: #05386B;
    font-size: 14px;
}

.new-button .new-c{
    text-decoration: none;
}

.body-light{
    background-color: #5CDB95;
}

.body-dark{
    background-color: #000000;
}

.orange-text{
    color: #FF4500;
}